.bg-light {
    background-color: #288448!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

a {
    color: white;
    padding: 5px;
    margin-right: 5px;
}
a:hover {
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}


.intro {
	text-align: center;
	padding-top: 50px;
}

